{% extends 'base.html.twig' %}

{% block title 'Cree un nouveau option' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('/css/reset.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
{% endblock %}



{% block body %}
  <div class="container mt-4">
    {{ include('admin/article/_form.html.twig', {form: form, button: 'Cree'}) }}
  </div>
{% endblock %}
